<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline font-weight-bold">
        Spotifind
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn text to="/">Home</v-btn>
      <v-btn text to="/search/SEARCH">Chercher un artiste</v-btn>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <Suspense>
          <router-view></router-view>
        </Suspense>
      </v-container>
    </v-main>
  </v-app>
</template>

<script setup>
// import HomePage from "./components/HomePage.vue";
</script>

<style>
@import "./assets/style.scss";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
