<template>
  <div class="content">
    <div class="p-20">
      <h3>Historique des recherches</h3>
      <v-list lines="one">
        <v-list-item v-for="artist of historique.artists" :key="artist.key"
          ><router-link :to="'/search/' + artist.key">{{
            artist.name
          }}</router-link></v-list-item
        >
      </v-list>
    </div>
  </div>
</template>

<script setup>
import { reactive } from "vue";

let historique = reactive({ artists: [] });
historique.artists = JSON.parse(localStorage.getItem("search")) || [];
</script>

<style scoped>
a {
  color: #42b983;
  text-decoration: none;
}
</style>
