<template>
  <div class="content">
    <div class="form-container">
      <h3>Rechercher un artiste</h3>
      <v-form @submit="mySubmit">
        <v-text-field v-model="nameValue" label="Nom" outlined></v-text-field>
        <v-btn @click="mySubmit">Chercher</v-btn>
      </v-form>
    </div>

    <h3>{{ result.artist ? `Resultat ${result.artist}` : "" }}</h3>
    <div class="panel">
      <v-expansion-panels v-if="result.albums.length > 0">
        <v-expansion-panel
          v-for="album in result.albums"
          v-bind:key="album.id"
          :title="album.name"
        >
          <v-expansion-panel-text>
            <img :src="album.img" alt="" />
            <v-list lines="one">
              <v-list-item
                v-for="track of album.track"
                :key="track.name"
                :title="track.name"
                :subtitle="track.popularity"
              >
                <v-progress-linear
                  :model-value="track.popularity"
                ></v-progress-linear>
              </v-list-item>
            </v-list>
          </v-expansion-panel-text>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
    <div v-if="isLoading">Chargement en cours...</div>
  </div>
</template>
<script setup>
import {
  getArtist,
  getArtistAlbum,
  getAlbumInfo,
  getTrackInfo,
} from "../services/spotifyApi";
import { useForm, useField } from "vee-validate";
import { reactive } from "vue";
import { useRoute } from "vue-router";

const result = reactive({
  artist: "",
  albums: [],
});
const route = useRoute();
let mySubmit = async () => {};
let isLoading = false;
if (route.params.key && route.params.key != "SEARCH") {
  const key = route.params.key;
  //Search Album
  isLoading = true;
  const artistInfo = await getArtistAlbum(key);
  result.artist = artistInfo.items[0].artists[0].name;
  if (artistInfo) {
    result.albums = [];
    let tempAlbumTab = [];
    for (let i = 0; i < 5; i++) {
      const album = artistInfo.items[i];
      let tempAlbum = {
        name: album.name,
        img: album.images[2].url,
        track: [],
      };
      const ablumInfo = await getAlbumInfo(album.id);
      isLoading = false;
      for (let j = 0; j < 5; j++) {
        const track = ablumInfo.tracks.items[j];
        if (track) {
          const trackInfo = await getTrackInfo(track.id);
          const tempTrack = {
            name: trackInfo.name,
            popularity: parseInt(trackInfo.popularity, 10),
          };
          tempAlbum.track.push(tempTrack);
        }
      }
      tempAlbum.track.sort((a, b) => b.popularity - a.popularity);
      tempAlbumTab.push(tempAlbum);
    }
    result.albums = [...result.albums, ...tempAlbumTab];
  }
} else {
  const { handleSubmit } = useForm();
  mySubmit = handleSubmit(async (value) => {
    //Search Artist
    isLoading = true;
    const response = await getArtist(value);
    const artists = response.artists.items;
    if (artists.length > 0) {
      const artist = artists[0];
      const key = artist.id;
      result.artist = artist.name;
      //Search Album
      const artistInfo = await getArtistAlbum(key);

      if (artistInfo) {
        //Insert in localStorage
        const existingData = JSON.parse(localStorage.getItem("search")) || [];
        if (existingData.length > 4) {
          existingData.shift();
        }
        existingData.push({ key, name: artist.name });
        localStorage.setItem("search", JSON.stringify(existingData));

        result.albums = [];
        let tempAlbumTab = [];
        for (let i = 0; i < 5; i++) {
          const album = artistInfo.items[i];
          let tempAlbum = {
            name: album.name,
            img: album.images[2].url,
            track: [],
          };
          const ablumInfo = await getAlbumInfo(album.id);
          isLoading = false;
          for (let j = 0; j < 5; j++) {
            const track = ablumInfo.tracks.items[j];
            if (track) {
              const trackInfo = await getTrackInfo(track.id);
              const tempTrack = {
                name: trackInfo.name,
                popularity: parseInt(trackInfo.popularity, 10),
              };
              tempAlbum.track.push(tempTrack);
            }
          }
          tempAlbum.track.sort((a, b) => b.popularity - a.popularity);
          tempAlbumTab.push(tempAlbum);
        }
        result.albums = [...result.albums, ...tempAlbumTab];
      }
    }
  });
}

const { value: nameValue } = useField("name");
</script>

<style scoped>
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.panel {
  width: 50%;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>
